<div class="container">

  <div class="row">

    <div class="col-sm-12">

      <img class="img-fluid burger-img" src="assets/images/burger-of-the-day.png" alt="">

      <h1 class="text-center">Burger of the Day</h1>

    </div>

    <div class="col-sm-6 ">

      <h2 class="text-center">Eat</h2>

      <ul>
        {{#each burgers}}
        {{#unless devoured}}
        {{> burger devoured=false}}
        {{/unless}}
        {{/each}}
      </ul>

    </div>

    <div class="col-sm-6">

      <h2 class="text-center">Order Again</h2>

      <ul>
        {{#each burgers}}
        {{#if devoured}}
        {{> burger devoured=true}}
        {{/if}}
        {{/each}}
      </ul>

    </div>

  </div>

</div>
