body {
  background: #DA291C;
}

h1 {
  color: #FFC72C;
  font-size: 3.5rem;
}

h2 {
  color: #DA291C;
}

ul {
  list-style: none;
}

span {
  font-size: 1.125rem;
}

.row {
  padding-bottom: 1rem;
  padding-top: 1rem;
}

.form-inline .form-control{
  width: 15rem;
}

.panel {
  background-color: #FFC72C;
  border-radius: .25rem;
  padding: .5rem;
}

.burger-img {
  display: block;
  width: 25%;
  margin-left: auto;
  margin-right: auto;
}

.burger-form {
  height: 5rem;
}
